.maincontent{
    margin-top: 180px;
    position: relative;
}
.maincontent li{
    float: left;
    width: 239px;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 0 1px #e5e5e5;
    box-shadow: 0 0 0 1px #e5e5e5;
    padding: 27px;
    background: #fff;
    position: relative;
}
.maincontent li:hover:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 3px solid #E73736;
}

.maincontent li>a>img{
    width: 200px;
    height: 200px;
    margin:0 auto 10px;
}
.maincontent li h3{
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 21px;
    height: 42px;
    overflow: hidden;
    font-weight: normal
}
.maincontent li em{
    color: #dc3334
}
.maincontent li span{
    color: #dc3334;
    padding-top: 4px;
    font-size: 24px;
    margin-right: 7px;
    vertical-align: middle
}
.maincontent li div{
    position: relative;
}
.maincontent li button{
    list-style: none;
    margin: 0;
    padding: 0;
    font: 12px/1.14 Arial,PingHei,"微软雅黑",tahoma,STHeitiSC-Light,"Helvetica Neue",Helvetica,sans-serif;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff!important;
    border: 1px solid #dc3334;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    position: relative;
    overflow: visible;
    background:#E73736;
    vertical-align: middle;
    position: absolute;
    right: 0;
}
.maincontent li p>img{
    width: 44px;
    height: 44px;
}
.maincontent li p{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1111111111111111;
    display: none
}
.maincontent li i{
    vertical-align: bottom;
    text-decoration: line-through
}
.maincontent li button:hover{
    background: rgba(231,55,54,.9)
}