.header{
    height:88px;
    margin-top: 20px
}
.logo{
    float: left;
    margin-top: -25px;
    height: 88px;
    overflow: hidden;
   img{
    width: 18.8em;
    height: 9.5em;
    }
}
.search{
    float: left;
    margin-left: 340px;
    margin-top: 5px;
    input{
        width: 300px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        border: 2px solid #E73736;
        color: #333;
        padding: 0 17px;
        }
    .searchbtn{
        width: 76px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #E73736;
        color: #fff;
        font-size: 14px;
        display: inline-block;
        margin-left: -4px;
        &:hover{
            background-color: #FF4948;
            color: #fff;
        }
        }
    }
    .searchul{
        li{
            float: left;
            height: 14px;
            line-height: 14px;
            overflow: hidden;
            padding-top: 9px;
            .border-none{
                border: none
            }
            a{
                color: #666;
                padding: 0 9px;
                border-left: 1px solid #ccc;
                &:hover{
                    color: red
                }
            }
        }
    }

.cart{
    a{
    margin-top: 5px;
    width: 184px;
    color: #fff;
    background-color: #F7F7F7;
    height: 36px;
    padding: 2px;
    display: block;
    float: right;
    padding: 1px 2px 3px;
    .cartimg{
        width: 54px;
        background-color: #fff;
        position: relative;
        display: inline-block;
        height: 36px;
        vertical-align: middle;
        &:before{
            content: ' ';
            vertical-align: middle;
            display: inline-block;
            background-image: url('../img/header.png');
            background-repeat: no-repeat;
            background-size: 17.75em 49.083333333333336em;
            background-position: -.8333333333333334em -15.5em;
            width: 2.0833333333333335em;
            height: 1.8333333333333333em;
            margin-left: 17px;
            margin-top: 8px;
                }
        em{
            text-align: center;
            width: 22px;
            height: 24px;
            line-height: 22px;
            margin-left: -1px;
            font-size: 12px;
            overflow: hidden;
            position: absolute;
            top: -16px;
            left: 17px;
            background: url(../img/cmsres_20170329_80ef139a-917f-4b67-b20f-1131ffbe41af.png) no-repeat;
            vertical-align: middle;
            display: inline-block;
            background-position: -416px 0;
            }
        }
    i{
        color: #666;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        &:hover{
            color: rgba(102,102,102,.8)
        }
        &:after{
            background-position: -.8333333333333334em -2.8333333333333335em;
            width: .6666666666666666em;
            height: 1.0833333333333333em;
            content: ' ';
            vertical-align: middle;
            display: inline-block;
            background-image: url('../img/header.png');
            background-repeat: no-repeat;
            background-size: 17.75em 49.083333333333336em;
            margin-left: 5px;
        }
    }     
    }
}       


